.App {
   font-family: 'Special Elite', cursive;
    text-align: center;
    padding: .5em;
}

.App .title {
    color: white;
    font-size: 5em;
}

.gameList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}